*{
	box-sizing: border-box;
}

body{
	font-family: raleway, arial, helvetica, sans-serif;
	background-color: #ccc;

}

h1{
	font: arial 50px;
	text-shadow: 0.5px 0.5px 0.5px #000;
	text-transform: uppercase;
	text-align: center;
	background-color: grey;
}

h2{
	font: arial 20px;
	
}

