body {
	overflow: auto;
    font-family: raleway;
    font-size: 18px;
    color: #000;
    background-color: #fff;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}


/* SHOWCASE */

.showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(./images/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4%;
    width: auto;
    height: 100vh;
    padding: 20px;
}

.showcase h1 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #ccc;
}

.showcase p {
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 1px #ccc;
}

.quicksum {
	height: 1000px;
	width: 800px;
	margin: 0;
    padding: 0;
    border: 1px solid red;
    color: #fff;
    background-color: #414141;
    border-radius: 8%;
}

.FirstProblem{
    width: auto;
    height: 100%;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 20px;
    padding-bottom: 50px;
    border-radius: 5%;
}


.left{
    width: 50%;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: #ccc;
    text-align: left;
    border-radius: 2%;
}

.SecondProblem{
    width: auto;
    height: 100%;
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 20px;
    padding-bottom: 50px;
    border-radius: 5%;
}

.right {
	width: 50%;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: #ccc;
    text-align: right;
    border-radius: 2%;
}
